* {
    font-family: 'Questrial', sans-serif;
}
.md-button.md-default-theme.md-raised, .md-button.md-raised {
    /* color: rgb(33,33,33); */
    color: black;
  }

.homeTitle {
   text-transform:uppercase;
   font-size:5.5rem;
   margin-top:0px;
   margin-bottom:0px
}
.timer {
     padding: 2rem;

}

.clock {
    font-size: 4rem;
    text-align:center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.column.tasks {
  text-align: center;
}

@media (min-width: 600px) {
  .columns {
   display: flex;
}
    .column {
   flex: .8;

}
    .main-column {
   flex: 3;

}

}

@media (max-width: 600px) {
  .hidden {
   display: none;
}


}

.hiddenPhone {
    display:none;
}
.phoneFont {
    font-size:2rem;
}



.md-button.addTask {
    background: #F00000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.md-button.md-default-theme.md-accent,
.md-button.md-accent {
    color: red;
}

li.loginNav {
    margin-left: auto;
}

.heroLanding {
    min-height: 500px;
    background: #F00000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 86px;
    color: white;
}

.top {
    text-align: center;
}

.tomato {
    max-height: 150px;
}

div.getStarted::after {
   content: "Get Started";
    font-size: 3rem;
    position: relative;
    bottom: .7rem;

}
form {
    margin-right:4rem;
    padding-left: 16px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #65C3AD
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #65C3AD
}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: #F00000;
}
.md-button.md-default-theme.md-raised, .md-button.md-raised {

    background-color: #F00000 ;
}
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: #F00000;
}
.inputBox {
    width:100%;
    margin-top: 3.4rem;
}

md-list-item, md-list-item .md-list-item-inner {
   padding-right:2rem;
}


.fa-play-circle {
    color: #F00000

}


.getStarted {
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
}

.ele {
    padding-top: 2rem;
    line-height: 1.4;
    width: 60%;
    height: 200px;
    margin: auto;
    text-align: center;
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin: auto;
    width: 100%;
}

footer .fa {
    padding: 0px 1rem .5rem 1rem;
    font-size: 2rem;
    color:#F00000
}
a {
    color:#F00000;
}

i { cursor: pointer; cursor: hand; }
