.timeClock {
    position:absolute;
    top:50vh;
    text-align:center;
    width:100%;
}

.md-raised {
    background:black !important;
    color:white !important;
   
}

* {
    font-family: 'Orbitron', sans-serif;
}

