<section class="heroLanding">
    <div class="top">
        <img class="tomato" src="assets/images/tomato.svg">
        <h1 style="font-size:5.5rem; margin-top:0px;margin-bottom:0px;"><span class="one">P</span><span class="two">O</span><span class="three">M</span><span class="four">O</span><span class="five">D</span><span class="one">O</span><span class="one">R</span><span class="last">O</span></h1>
    </div>

    <div class="ele">
        Pomodoro Timer The Pomodoro timer is a well-known productivity interval that has been shown to improve your productivity. It gives you a prescribed interval of 25 minutes of work followed by a 5-minute break. After 4 work intervals, there is a 15-minute break. If you want to get started on a Pomodoro Timer, just click the Pomodoro button above.
    </div>
</section>

<div class="getStarted">
    <i md-nav-click="goto('clock')" ui-sref="clock" name="clock" class="fa fa-play-circle" aria-hidden="true"></i>
</div>
<footer>
    <a href="your link here"><i class="fa fa-github" aria-hidden="true"></i></a><a href="your link here"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="your link here"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</footer>
